<template>
    <div class="container mt-5">
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" ref="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong style="color:green" class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div v-if="isLoading">
                loading...
            </div>
            <div
                v-else
                class="col-md-8">
                <strong>Item price: </strong><div ref="price">{{ Item.price / 100}}</div>
                <div class="card">
                    <div>Title</div>
                    <div class="col-md-12 d-flex">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/96/35/77/caption.jpg" width="300px" height="200px">
                        <div>
                            <div
                                v-for="ingr in Item.pizza.ingredients"
                                class="form-check form-switch"
                            >
                                <input v-if="inArray(ingr.id)" checked class="form-check-input" type="checkbox" :value="ingr.id">
                                <input v-else class="form-check-input" type="checkbox" :value="ingr.id">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{ingr.title}}</label>
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{ingr.price / 100}} EUR</label>
                            </div>
                        </div>
                    </div>
                    <button @click="updateItem()" type="button" class="btn btn-primary">Update Item</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import cookies from "vue-cookies";

export default {
    data() {
        return {
            Item: [],
            isLoading: false,
        }
    },
    mounted() {
        this.getCart();
    },
    methods: {
        async getCart() {
            try {
                this.isLoading = true;
                const { data } =  await axios.get('http://localhost:8000/api/cart-item/' +  this.$route.params.id);
                this.Item = data.data;
                console.log(this.Item);
                if (data.success) this.isLoading = false;
            } catch (e) {
                this.isLoading = false;
                console.error(e);
            }
        },
        inArray(needle, haystack = this.Item.variation_ids) {
            var length = haystack.length;
            for(var i = 0; i < length; i++) {
                if(haystack[i] == needle) return true;
            }
            return false;
        },
        updateItem(){
            let checked = this.$el.querySelectorAll('input[type=checkbox]:checked');

            let variation_ids = [];

            checked.forEach(function (item){
                variation_ids.push(item.value);
            })

            axios.patch('http://localhost:8000/api/cart-item/' + this.Item.id, {
                'variation_ids': variation_ids
            }).then(response => {
                this.Item = response.data.data;
                this.showToast(response.data.data)
            }).catch(response => {
                console.error(response);
            });
        },

        showToast(){
            let toast = new bootstrap.Toast(this.$refs.liveToast);
            toast.show();
        }
    }
}
</script>
