<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div v-if="isLoading">
                loading...
            </div>
            <div
                v-else
                class="col-md-8">
                <div><strong>Cart price: </strong>{{ cartArray.cart.price / 100}}</div>
                <div
                    v-for="card in cartArray.items"
                    :key="card.id"
                    class="card"
                >
                    <div>{{ card.pizza.title }}</div>
                    <div class="col-md-12 d-flex">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/96/35/77/caption.jpg" width="300px" height="200px">
                        <div :pizza_id="card.id">
                            <div
                                v-for="ingr in card.pizza.ingredients"
                                class="form-check form-switch"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                </svg>
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{ingr.title}}</label>
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{ingr.price / 100}} EUR</label>
                            </div>
                        </div>
                    </div>
                    <div>Pizza price: {{ card.price / 100}}</div>
                    <router-link
                        class="nav-link"
                        data-toggle="collapse"
                        :to="{ name: 'cartItem', params: { id: card.id }}"
                    >
                        Edit
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            cartArray: [],
            isLoading: false,
        }
    },
    mounted() {
        this.getCart();
    },
    methods: {
        async getCart() {
            try {
                this.isLoading = true;
                const { data } =  await axios.get('http://localhost:8000/api/' + 'cart');
                this.cartArray = data.data;
                console.log(this.cartArray)
                if (data.success) this.isLoading = false;
            } catch (e) {
                this.isLoading = false;
                console.error(e);
            }
        },
    }
}
</script>
