<template>
    <div class="container mt-5">
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" ref="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong style="color:green" class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toastText" ref="toastText">

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div v-if="isLoading">
                loading...
            </div>
            <div
                v-else
                class="col-md-8">

                <div
                    v-for="card in pizzaArray"
                    :key="card.id"
                    class="card"
                >
                    <div>{{ card.title }}</div>
                    <div class="col-md-12 d-flex">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/96/35/77/caption.jpg" width="300px" height="200px">
                        <div :pizza_id="card.id">
                            <div
                                v-for="ingr in card.ingredients"
                                class="form-check form-switch"
                            >
                                <input class="form-check-input" type="checkbox" :value="ingr.id">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{ingr.title}}</label>
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{ingr.price / 100}} EUR</label>
                            </div>
                        </div>
                    </div>
                    <button @click="addToCart(card.id)" type="button" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import cookies from "vue-cookies";

export default {
    data() {
        return {
            pizzaArray: [],
            isLoading: false,
        }
    },
    mounted() {
        this.getPizza();
    },
    methods: {
        async getPizza() {
            try {
                this.isLoading = true;
                const { data } =  await axios.get('http://localhost:8000/api/' + 'pizza');
                this.pizzaArray = data.data;
                if (data.success) this.isLoading = false;
            } catch (e) {
                this.isLoading = false;
                console.error(e);
            }
        },

        addToCart(pizzaId) {
            let pizzaBlock = this.$el.querySelector('[pizza_id="' + pizzaId + '"]');
            let checked = pizzaBlock.querySelectorAll('input[type=checkbox]:checked');

            let variation_ids = [];

            checked.forEach(function (item){
                variation_ids.push(item.value);
            })

            axios.post('http://localhost:8000/api/' + 'cart', {
                'pizza_id': pizzaId,
                'variation_ids': variation_ids
            }).then(response => {
                cookies.set('token', response.data.data.token);
                pizzaBlock.querySelectorAll('input[type=checkbox]:checked').forEach((item) => {
                    item.checked =false;
                });
                this.showToast(response.data.data)
            }).catch(response => {
                console.error(response);
            });
        },

        showToast(data){
            this.$refs.toastText.innerText = 'Pizza added: ' + data.cart_items[data.cart_items.length - 1].price / 100 + '. Total cart price: ' + data.price / 100
            let toast = new bootstrap.Toast(this.$refs.liveToast);
            toast.show();
        }
    }
}
</script>
