<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <router-link
                class="nav-link"
                data-toggle="collapse"
                :to="{ name: 'pizza' }"
            >
                Pizza
            </router-link>
            <router-link
                class="nav-link"
                data-toggle="collapse"
                :to="{ name: 'cart' }"
            >
                Cart
            </router-link>
        </nav>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {

};
</script>
